<!-- </div>/.container -->
<footer class="footer d-flex align-items-center">
  <div class="container d-flex justify-content-around align-items-center">
    <p class="text-muted m-0">&copy; Camper 2019 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New
        Campground</a></p>
  </div>
</footer>
<!-- jQuery CDN -->
<script src="/scripts/jquery-3.3.1.min.js"></script>
<!-- Custom JS for search feature -->
<script src="/scripts/search.js" async defer></script>
<!-- Bootstrap JS CDN -->
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/aos.js"></script>
<script>
  AOS.init();
</script>
</body>

</html>